<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://openbox.org/                 file:///usr/share/openbox/menu.xsd">
	<menu id="None-283139" label="Start">
		<item label="Volume+">
			<action name="Execute">
				<execute>amixer -q set Master 5+ unmute</execute>
			</action>
		</item>
		<item label="Volume-">
			<action name="Execute">
				<execute>amixer -q set Master 5- unmute</execute>
			</action>
		</item>
		<item label="Mute/Unmute">
			<action name="Execute">
				<execute>~/.config/mycfg/mute.script</execute>
			</action>
		</item>
		<separator/>
		<menu id="None-283139-392238" label="Notes">
			<item label="Kate">
				<action name="Execute">
					<execute>kate</execute>
				</action>
			</item>
		</menu>
		<menu id="None-283139-44341" label="Folders">
			<item label="MAI">
				<action name="Execute">
					<execute>spacefm /media/master17/Data3/1МГУ-life/МАИ</execute>
				</action>
			</item>
			<item label="Work">
				<action name="Execute">
					<execute>spacefm /media/master17/Data3/work</execute>
				</action>
			</item>
			<item label="Home">
				<action name="Execute">
					<execute>spacefm ~</execute>
				</action>
			</item>
		</menu>
		<menu id="None-283139-934445" label="System">
			<item label="Xterm">
				<action name="Execute">
					<execute>xterm</execute>
				</action>
			</item>
			<item label="Virtualbox">
				<action name="Execute">
					<execute>virtualbox</execute>
				</action>
			</item>
			<item label="Keepass2">
				<action name="Execute">
					<execute>keepass2</execute>
				</action>
			</item>
		</menu>
		<menu id="None-283139-40418" label="Multimedia">
			<item label="Audacity">
				<action name="Execute">
					<execute>audacity</execute>
				</action>
			</item>
			<item label="Kdenlive">
				<action name="Execute">
					<execute>kdenlive</execute>
				</action>
			</item>
			<item label="Krita">
				<action name="Execute">
					<execute>krita</execute>
				</action>
			</item>
			<item label="Vlc">
				<action name="Execute">
					<execute>vlc</execute>
				</action>
			</item>
		</menu>
		<menu id="None-283139-661415" label="Office">
		<item label="Writer">
			<action name="Execute">
				<execute>libreoffice --writer</execute>
			</action>
		</item>
		</menu>
		<menu id="None-283139-205738" label="Games">
			<item label="Steam">
				<action name="Execute">
					<execute>steam</execute>
				</action>
			</item>
			<item label="Don't Starve">
				<action name="Execute">
					<execute>steam steam://run/219740</execute>
				</action>
			</item>
			<item label="Dota 2">
				<action name="Execute">
					<execute>steam steam://run/570</execute>
				</action>
			</item>
			<item label="DD">
				<action name="Execute">
					<execute>steam steam://run/262060</execute>
				</action>
			</item>
			<item label="dd.pdf">
				<action name="Execute">
					<execute>okular ~/dd.pdf</execute>
				</action>
			</item>
			<item label="Cities: Skyines">
				<action name="Execute">
					<execute>steam steam://run/255710</execute>
				</action>
			</item>
			<item label="Hotline Miami">
				<action name="Execute">
					<execute>steam steam://run/219150</execute>
				</action>
			</item>
			<item label="Hotline Miami 2">
				<action name="Execute">
					<execute>steam steam://run/274170</execute>
				</action>
			</item>
			<item label="Portal 2">
				<action name="Execute">
					<execute>steam steam://run/620</execute>
				</action>
			</item>
			<item label="Portal Stories: Mel">
				<action name="Execute">
					<execute>steam steam://run/317400</execute>
				</action>
			</item>
			<item label="Simply Chess">
				<action name="Execute">
					<execute>steam steam://run/312280</execute>
				</action>
			</item>
		</menu>
		<menu id="None-283139-8833" label="Internet">
			<item label="firefox">
				<action name="Execute">
					<execute>firefox</execute>
				</action>
			</item>
			<item label="telegram">
				<action name="Execute">
					<execute>/opt/telegram/Telegram</execute>
				</action>
			</item>
			<item label="Akregator">
				<action name="Execute">
					<execute>akregator</execute>
				</action>
			</item>
			<item label="nmtui-connect">
				<action name="Execute">
					<execute>xterm -geometry +3+393 nmtui-connect</execute>
				</action>
			</item>
		</menu>
		<menu id="None-283139-404943" label="Settings">
			<item label="Winecfg">
				<action name="Execute">
					<execute>winecfg</execute>
				</action>
			</item>
			<item label="Alsamixer">
				<action name="Execute">
					<execute>xterm -geometry +3+393 alsamixer</execute>
				</action>
			</item>
			<item label="Kcharselect">
				<action name="Execute">
					<execute>kcharselect</execute>
				</action>
			</item>
			<item label="Kcolorchooser">
				<action name="Execute">
					<execute>kcolorchooser</execute>
				</action>
			</item>
			<item label="Tint2conf">
				<action name="Execute">
					<execute>tint2conf</execute>
				</action>
			</item>
			<item label="Obconf">
				<action name="Execute">
					<execute>obconf</execute>
				</action>
			</item>
			<item label="Obmenu">
				<action name="Execute">
					<execute>obmenu</execute>
				</action>
			</item>
			<item label="Easystroke-gui">
				<action name="Execute">
					<execute>easystroke show</execute>
				</action>
			</item>
			<item label="Reconfigure">
				<action name="Reconfigure"/>
			</item>
			<item label="Restart">
				<action name="Restart"/>
			</item>
			<menu id="None-283139-404943-963523" label="Конфиги">
				<item label="tint2rc">
					<action name="Execute">
						<execute>kate ~/.config/tint2/tint2rc</execute>
					</action>
				</item>
				<item label="conky.conf">
					<action name="Execute">
						<execute>kate ~/.config/conky/conky.conf</execute>
					</action>
				</item>
				<item label="openbox/autostart.sh">
					<action name="Execute">
						<execute>kate ~/.config/openbox/autostart.sh</execute>
					</action>
				</item>
				<item label="openbox/menu.xml">
					<action name="Execute">
						<execute>kate ~/.config/openbox/menu.xml</execute>
					</action>
				</item>
				<item label="openbox/rc.xml">
					<action name="Execute">
						<execute>kate ~/.config/openbox/rc.xml</execute>
					</action>
				</item>
				<item label="themerc">
					<action name="Execute">
						<execute>kate ~/.themes/elementary/openbox-3/themerc</execute>
					</action>
				</item>
				<item label="menu.desktop">
					<action name="Execute">
						<execute>kate ~/.config/mycfg/menu.desktop</execute>
					</action>
				</item>
				<item label=".config/mycfg">
					<action name="Execute">
						<execute>spacefm ~/.config/mycfg</execute>
					</action>
				</item>
			</menu>
		</menu>
		<item label="Log out">
			<action name="Exit">
				<execute>command</execute>
			</action>
		</item>
		<item label="Reboot">
			<action name="Execute">
				<execute>reboot</execute>
			</action>
		</item>
		<item label="Poweroff">
			<action name="Execute">
				<execute>poweroff</execute>
			</action>
		</item>
	</menu>
	<menu id="None-215453" label="exit">
		<item label="Log out">
			<action name="Exit">
				<execute>command</execute>
			</action>
		</item>
		<item label="reboot">
			<action name="Execute">
				<execute>reboot</execute>
			</action>
		</item>
		<item label="poweroff">
			<action name="Execute">
				<execute>poweroff</execute>
			</action>
		</item>
	</menu>
	<menu id="root-menu" label="Openbox 3">
		<item label="xterm">
			<action name="Execute">
				<execute>xterm</execute>
			</action>
		</item>
		<item label="SpaceFM">
			<action name="Execute">
				<execute>spacefm</execute>
			</action>
		</item>
		<separator/>
		<menu id="root-menu-252449" label="Internet">
			<item label="firefox">
				<action name="Execute">
					<execute>firefox</execute>
				</action>
			</item>
			<item label="telegram">
				<action name="Execute">
					<execute>/opt/telegram/Telegram</execute>
				</action>
			</item>
			<menu id="root-menu-252449-82258" label="Подключения">
				<item label="Arhimeds_Net">
					<action name="Execute">
						<execute>nmcli dev wifi connect Arhimeds_Net password 25eujkmybr</execute>
					</action>
				</item>
				<item label="psp">
					<action name="Execute">
						<execute>nmcli dev wifi connect PSP5517DUO password qwer1234</execute>
					</action>
				</item>
				<item label="nmtui-connect">
					<action name="Execute">
						<execute>xterm nmtui-connect</execute>
					</action>
				</item>
			</menu>
		</menu>
		<!-- This requires the presence of the 'menu' package to work -->
		<separator/>
		<menu id="/Debian"/>
		<menu id="client-list-menu"/>
		<separator/>
		<item label="Reconfigure">
			<action name="Reconfigure"/>
		</item>
		<item label="Restart">
			<action name="Restart"/>
		</item>
		<item label="Exit">
			<action name="Exit"/>
		</item>
		<item label="reboot">
			<action name="Execute">
				<execute>reboot</execute>
			</action>
		</item>
		<item label="poweroff">
			<action name="Execute">
				<execute>poweroff</execute>
			</action>
		</item>
	</menu>
</openbox_menu>
