[Desktop Entry]
Encoding=UTF-8
Name=Calculator
Comment=Calculator
X-GNOME-FullName=Calculator-bc
Exec=xterm -geometry 66x10+3+580 -sb -e bc
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/home/Masha/.config/mycfg/23.png
Categories=Menu;
MimeType=
StartupNotify=true
