[Desktop Entry]
Encoding=UTF-8
Name=Start
Comment=Start
X-GNOME-FullName=StartInTint2
Exec=xdotool key Super_L
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/home/master17/.config/mycfg/18.png
Categories=Menu;
MimeType=
StartupNotify=true
